
            .time-work table
            {
                width: 90%;
                margin: auto;
                border-collapse: collapse;
                margin-top: 10px;
            }
            .time-work th, td {
                border: 2px solid #ddd;
                padding: 10px;

            }
            .time-work h4
            {
                font-size: 25px;
                padding: 12px;
            }   
            .time-work th
            {
                background-color: #7b818b;
            }
            .time-work td
            {
                background-color: #86a8d3;
            }
            .time-work-2 th
            {
                background-color: #7b818b;
            }
            .time-work-2 td
            {
                background-color: #70829a;
            }
        